body {
  width: 100%;
  height: 100vh;
  /* background-color: #0b0012; */
  padding: 15px 10px;
  box-sizing: border-box;
}

.input__container {
  position: relative;
  display: inline-block;
}

.input__field {
  width: 1420px;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f2f2f2;
  font-size: 16px;
  outline: 0;
}

.input__btn {
  position: absolute;
  top: 4px;
  right: 3px;
  height: 42px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #ef4f95;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: 3px solid #fe8cbe;
}

.field__container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.response__block {
  width: 70%;
  /* background-color: #3a3a3a; */
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.response__body {
  width: 100%;
}

.responses__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.view_switcher {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #ebebeb;
  box-sizing: border-box;
  gap: 10px;
  border-radius: 10px;
}

.view_switcher button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: 0;
  border: 0;
}
